.header-mobile {
  display: none;
}

.ant-drawer-content-wrapper {
  width: 300px !important;
}
.ant-drawer .ant-drawer-body {
  padding: 20px !important;
}
.sidebar-top {
  margin-left: -12px;
}

.ant-menu-root > .ant-menu-item,
.ant-menu-root > .ant-menu-submenu > .ant-menu-submenu-title {
  margin-inline: 0 !important;
  margin-block: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: white !important;
}

.ant-menu-sub {
  background-color: white !important;
}

.ant-menu-sub > .ant-menu-item {
  padding-left: 24px !important;
  /* padding-right: 24px !important; */
}

.ant-menu-title-content {
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.ant-menu-title-content a {
  color: inherit !important;
}

.sidebar-center .ant-menu-item:hover {
  background-color: transparent !important;
}

.sidebar-search {
  margin: 20px 0 25px;
}

.sidebar-bottom .search-input {
  padding: 10px;
  border: 1px solid #ced4da;
}

.sidebar-bottom .search-input input::placeholder {
  color: #333;
}

.sidebar-bottom .search-input .ant-input-suffix {
  color: #333;
}

.sidebar-bottom .sidebar-contact > * {
  color: #333;
  font-size: 17px;
}

.sidebar-bottom .sidebar-contact img {
  width: 42px;
  height: 42px;
}

.sidebar-social {
  margin: 20px 0;
}

.sidebar-social a {
  color: #0e0a38 !important;
}

.sidebar-controls a {
  color: #0e0a38 !important;
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .header-mobile {
    display: block;
    position: -webkit-sticky;
    background: #fff;
    position: fixed;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10 !important;
  }
}
