.mentor-card__banner {
  height: 200px;
  position: relative;
}

.mentor-card__banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mentor-card .ant-card-body {
  position: relative;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.ant-card .ant-card-meta-title {
  white-space: unset;
}

.mentor-card__title {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-color) !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  margin: 1rem 0 !important;
  line-height: 1.2 !important;
}

.mentor-card__description {
  margin-top: 10px;
  margin-bottom: 10px !important;
  font-weight: 400 !important;
  text-align: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px !important;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 15px !important;
}

/* test */
.mentor-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mentor-card .ant-card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mentor-card .mentor-card__title {
  margin-bottom: 8px !important;
}
