.logo-slide {
  background-color: #f5f7fc;
  margin-bottom: -20px;
  padding: 50px 0px;
}

.logo-slide .section-heading {
  font-size: 35px !important;
  line-height: 55px;
  font-weight: 700;
  color: #0e0a38;
  margin-bottom: 30px !important;
  text-align: center;
}

.logo-slide .logo-side__img {
  height: 100px;
  width: 100%;
  /* object-fit: cover; */
}
